.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20vh;
}

.betContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    > * {
        margin: 12px;
    }
}